[%
	yes    = 1
	no     = 0
	true   = 'this is true'
	false  = 0
	happy  = 'yes'
	sad    = ''
	ten    = 10
	twenty = 20
%]
-- 1--
Ok 1a
[% IF yes %]
Ok 1b
[% END %]
-- 2--
[% IF yes %]
Ok
[% ELSE %]
NO
[% END %]
-- 3--
[% IF yes AND true %]
Ok
[% ELSE %]
NO
[% END %]
-- 4--
[% IF yes && true %]
Ok
[% ELSE %]
NO
[% END %]
-- 5--
[% IF yes && sad || happy %]
Ok
[% ELSE %]
NO
[% END %]
-- 6--
[% IF (yes AND ten && true AND twenty && 30) %]
Ok
[% ELSE %]
NO
[% END %]
-- 7--
[% IF ! yes %]
NO
[% ELSE %]
Ok
[% END %]
-- 8--
[% UNLESS yes %]
NO
[% ELSE %]
Ok
[% END %]
-- 9--
[% "Ok" UNLESS no %]
--10--
[% IF yes || no %]
Ok
[% ELSE %]
NO
[% END %]
--11--
[% IF yes || no || true || false %]
Ok
[% ELSE %]
NO
[% END %]
--12--
[% IF yes OR no %]
Ok
[% ELSE %]
NO
[% END %]
--13--
[% IF NOT false AND NOT sad %]
Ok
[% ELSE %]
NO
[% END %]
--14--
[% IF ten == 10 %]
Ok
[% ELSE %]
NO
[% END %]
--15--
[% IF ten == twenty %]
NO
[% ELSIF ten > twenty %]
NO
[% ELSIF twenty < ten %]
NO
[% ELSE %]
Ok
[% END %]
--16--
[% IF ten >= twenty OR false %]
NO
[% ELSIF twenty <= ten %]
NO
[% END %]
Ok
--17--
[% IF ten > twenty %]
NO
[% ELSIF ten < twenty %]
Ok
[% END %]
--18--
[% IF ten != 10 %]
NO
[% ELSIF ten == 10 %]
Ok
[% END %]
--19--
[% IF alpha AND omega %]
alpha and omega are true
[% ELSE %]
alpha and/or omega are not true
[% END %]
count: [% count %]
--20--
[% IF omega AND alpha %]
omega and alpha are true
[% ELSE %]
omega and/or alpha are not true
[% END %]
count: [% count %]
--21--
[% IF alpha OR omega %]
alpha and/or omega are true
[% ELSE %]
neither alpha nor omega are true
[% END %]
count: [% count %]
--22--
[% IF omega OR alpha %]
omega and/or alpha are true
[% ELSE %]
neither omega nor alpha are true
[% END %]
count: [% count %]
--23--
[% small = 5
   mid   = 7
   big   = 10
   both  = small + big
   less  = big - mid
   half  = big / small
   left  = big % mid
   mult  = big * small
%]
both: [% both %]
less: [% less %]
half: [% half %]
left: [% left %]
mult: [% mult %]
maxi: [% mult + 2 * 2 %]
mega: [% mult * 2 + 2 * 3 %]
--24--
[% 10 mod 4 %] [% 10 MOD 4 %]
[% 10 div 3 %] [% 10 DIV 3 %]
--
